<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anime Search</title>
  <!-- Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Exo+2&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
</head>
<body class="search-results">

  <div class="container my-4">
    <h1 class="text-center head-anime"><strong>Anime Search</strong></h1>
    <form action="/search" method="GET" class="text-center my-4">
      <label for="searchInput" class="visually-hidden">Search for Anime:</label>
      <div class="input-group">
        <input type="text" id="searchInput" name="q" class="form-control" placeholder="Name of Anime" required>
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <div class="main-text">
        <% if (!locals.animeData) { %>
            <h1 class="main-heading">Get Information About Any Anime</h1>
            <div class="para-class">
                <p class="subheading">Explore details, ratings, and more for your favorite anime series. Simply enter the name of the anime you're interested in, and discover a world of information.</p>
            </div>
        <% } %>
    </div>

    <% if (locals.animeData) { %>
      <h3 class="text-center mb-4">Search Results...</h3>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% locals.animeData.forEach(anime => { %>
          <div class="col">
            <div class="card h-100">
              <img src="<%= anime.images.jpg.image_url %>" class="card-img-top" alt="<%= anime.title %>">
              <div class="card-body">
                <h5 class="card-title"><%= anime.title %></h5>
                <p class="card-text"><strong>Type:</strong> <%= anime.type %></p>
                <p class="card-text"><strong>Episodes:</strong> <%= anime.episodes %></p>
                <p class="card-text"><strong>Status:</strong> <%= anime.status %></p>
                <p class="card-text"><strong>Synopsis:</strong> <%= anime.synopsis %></p>
                <p class="card-text"><strong>Rating:</strong> <%= anime.rating %></p>
                <p class="card-text"><strong>Score:</strong> <%= anime.score %></p>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
    <% } %>

  </div>

  <!-- Bootstrap  -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    // Check if animeData is available and add class accordingly
    <% if (locals.animeData) { %>
        document.body.classList.add('search-results-background');
    <% } %>
  </script>
</body>
</html>
